/* Global Variables */
:root{
    --bg-color: #282C33;
    --main-textColor: white;
    --secendry-textColor: #ABB2BF;
    --custom-pink: #E06B74;
    --custom-purpel: #C778DD;
    --custom-green: #98C379;
    --costum-yellow: #E5C07A;
    --custom-blue: #62AEEF;
    --custom-turquoise: #55B6C2;
}

/* Global Rules */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Fira Code";
    background-color: var(--bg-color, black);
    font-size: 14px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    margin: 0;
    padding: 0;
}
.container {
    width: min(95%, 1024px);
    padding: 0 20px;
    margin: 0 auto;
}